:root{
    --coffee: #7f5539;
    --top-m: 10px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(29, 26, 8) ;
    background-size: cover;
    background-position: center;
    background-color: beige;
}
li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #212529;
    display: block;
    padding: 7 13px;
    margin: 20px;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #ffdac1;
    transition: .5s;
}
.navbar .links{
    display: flex;
}
.navbar .togglebar{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 65px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    color: #212529;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

/* DROPDOWN MENU */
.toggle-dropdown{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background-color: rgba(84, 85, 84, 0.5);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s;
}
.toggle-dropdown > ul > li{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-dropdown.open{
    height: 240px;
}
.togglebar.active {
    color: rgb(212, 255, 0);
}
/* SLIDER */
.slider > h5{
    text-align: center;
    padding: 10px;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX( calc(-250px * 6));
    }
}

.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    height: auto;
}

.slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    background-color: white;
    width: calc(250px * 12);
}

.slider .slide-img{
    width: 250px;
    height: 100px;
}
/* FOOTER */
footer{
    background-color: var(--coffee);
    width: 100%;
    padding:2rem 0;
    margin-top: var(--top-m);
}
.footer-infor{
    justify-content: space-between;
    display: flex;
}
.left-infor, .right-infor{
    display: flex;
}
.footer-infor a{
    padding: 0 10px; 
    position: relative;
}
.footer-infor a:first-child:before{
    content: "|";
    position: absolute;
    right: 0;
    color: #FFF;
}
.footer-infor a:after{
    content: "";
    position: absolute;
    left: 0;
    background-color: white;
    width:100%;
    height: 1px;
    bottom: -1px;
    transform:  scaleX(0);
    transition: 0.3s ease-in-out;
}
.footer-infor a:hover:after{
    transform: scaleX(1);
}
/* +++++++++++++ */
.footer-icon ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
}
.footer-icon a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.footer-icon a i{
    font-size: 1.5em;
}
.footer-copyright{
    text-align: center;
    padding: 10px 20px;
}
hr{
    width:75%;
    margin:0 auto;
}
.footer-copyright small{
    color: white;
}
.footer-copyright span{
    font-style: italic;
}
/* RESPONSIVE DESIGN */
@media (max-width:768px){
    .navbar .links{
        display: none;
    }
    .navbar .togglebar{
        display: block;
        padding: 10px;
    }
    .toggle-dropdown{
        display: block;
    }
    .footer-icon a i{
        font-size: 1.05em;
    }
    .footer-infor{
        flex-direction: column;
    }
    .left-infor, .right-infor{
        justify-content: center;
    }

}
